.drive-points {

    .drive-point-markers {
        display: grid;
        grid-template-columns: repeat(5, 1fr);

        .drive-point {
            margin: 1px;
            font-size: smaller;
        }
    }
}

.dice-buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.heroic-path-points {
    .heroic-path-markers {
        display: grid;
        grid-template-columns: repeat(21, 1fr);

        .heroic-path-point {
            margin: 1px;

            .fa-square {
                font-size: smaller;
            }
        }

        .heroic-path-gap {
            width: 10px;
        }
    }
}