.variables {
    .col3();

    .variable {
        .row2();
        grid-template-columns: 1fr 4fr;
        .roundedcard();

        .variablename {
            .Ubuntu(bolder, small);
            padding-bottom: 4px;
            grid-column   : span 2;
            text-align: center;
            align-self: center;
        }

        .value {
            text-align: center;
            align-self: center;
            .Ubuntu(medium, small);
        }

        select,
        option {
            .Ubuntu(medium, small);
        }
    }
}