.sticky {
    position: sticky;
    top: 0;
    z-index: 1;
}

li.folder>.folder-header {
    text-shadow: none;
}

.window-content {
    border-image: url(../ui/parchment.jpg);
    border: 8px solid transparent;
    padding: 0 !important;
}

.vsd.sheet.apecs_actor .window-resizable-handle {
    display: none;
}

.vsd.sheet.apecs_actor {
    width: 540px;
    height: auto !important;
}
