<div class="status-effects statuseffectsdialog">
    {{#each statusEffects as |status|}}
    <img class="status-effect" src="{{status.img}}" data-tooltip="{{status.name}}" data-status-id="{{status.id}}" />
    {{/each}}
</div>