{{debug "this:" this}}

<form class="{{cssClass}}" autocomplete="off">

  {{!-- Sheet Header --}}
  <header class="sheet-header">
    <img class="portrait" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
    <input name="name" type="text" value="{{item.name}}" placeholder="{{localize " local.item.name"}}" />
  </header>
  <hr>

  {{!-- Sheet Body --}}
  <section class="sheet-body">
    <div class="flexrow">
      <label class="resource-label">{{localize "local.item.Equipment.quantity"}}</label>
      <input type="number" name="system.quantity" value="{{item.system.quantity}}" data-dtype="Number" />
    </div>
    <div class="flexrow">
      <label class="resource-label">{{localize "local.item.Equipment.weight"}}</label>
      <input type="number" name="system.weight" value="{{item.system.weight}}" data-dtype="Number" />
    </div>
    <div class="flexrow">
      <label class="resource-label">{{localize "local.item.Equipment.cost"}}</label>
      <input type="text" name="system.cost" value="{{item.system.cost}}" data-dtype="String" />
    </div>
    <div class="flexrow">
      <label class="resource-label">{{localize "local.item.Equipment.availability"}}</label>
      <input type="text" name="system.availability" value="{{item.system.availability}}" data-dtype="String" />
    </div>
    <div class="flexrow">
      <label class="resource-label">{{localize "local.item.notes"}}</label>
      <input type="text" name="system.notes" value="{{{item.system.notes}}}" data-dtype="String" />
    </div>
    <div class="flexrow">
      <label class="resource-label">{{localize "local.item.group"}}</label>
      <input type="text" name="system.group" value="{{item.system.group}}" data-dtype="String" />
    </div>
    <hr>
    <h3>{{localize "local.item.Equipment.description"}}</h3>
    <div class="tab">
      <textarea rows="18" name="system.description">{{{system.description}}}</textarea>
    </div>
    <script>
      $("input").focusin(function () {
        $(this).select();
      });
      $("textarea").focusin(function () {
        $(this).select();
      }); 
    </script>
  </section>
</form>
